<body>

{{ form_start(form) }}

      {{ form_row(form.date) }}

      <br/> {{ form_row(form.place) }}

      <br/> {{ form_row(form.sport) }}

      <br/><button type="submit">Create!</button>

  {{ form_end(form) }}

</body>
