{# templates/events.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Lanzarote Fit > View Events {% endblock %}

{% block body %}
    <h2>View Events </h2>

    <div class="row">
        {% if events is null %}
            <p>No events available.</p>
            <a class="btn btn-primary" href="{{ path('create_event') }}">Create</a>
        {% else %}
            {% for event in events %}
                <div class="col-lg-4">
                    <div class="card">
                        <h5 class="card-header">Evento de {{ event.sport.name }}</h5>
                        <div class="card-body">
                            <span><strong>Fecha y hora:</strong> {{ event.date|date('d/m/Y H:i') }}</span><br>
                            <span><strong>Lugar:</strong> <a href="{{ path('view_place', {'id': event.place.id}) }}"> {{ event.place.name }} </a><br></span>
                            <span><strong>Comentarios:</strong><br> {{ event.comments }} </span>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="{{ path('view_event', {'id': event.id}) }}"> View Event </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
