{# templates/events.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Lanzarote Fit > View Event {% endblock %}

{% block body %}

<div class="container marketing">

<!-- Three columns of text below the carousel -->
<div class="row">
<div class="col-lg-12">
  <br/>
  <h2>Event Information</h2>

  {% if event is null %}
      <p>No event with this id.</p>
    {% else %}
        <p><br/>Event id: {{ event.id }} / Created by: {{ event.owner.username }} <br/><br/> Date: {{ event.date|date('d/m/Y H:i') }} / Place: {{ event.place.name }}  </p>


        <h2>Event Tickets</h2>

        {% if tickets is null %}
            <p>No tickets for this match.</p>
          {% else %}
          <br/> {{ tickets|length }} tickets registered.<br/><br/>
          {% for ticket in tickets %}
              <li>Ticket #{{ ticket.id }} registered by {{ ticket.owner.username }}</li>
          {% endfor %}

        <br/><br/>  For Debug Purposes:<br/><br/>

          Max players: {{ event.sport.maxslots }} <br/>
          Registered: {{ tickets|length }} <br/>
          {% if tickets|length == event.sport.maxslots %}

          All places booked. You can join the waiting list.

          {% endif %}

          {% if tickets|length < event.sport.maxslots %}

          There are {{ event.sport.maxslots - tickets|length }} slots available. Register for the event!.

          {% endif %}

          {% if tickets|length > event.sport.maxslots %}

          The event is full and there are people waiting. Join the waiting list, you might get lucky!.

          {% endif %}








        {% endif %}

        {% if app.user %}
         {% if event is not null %}
         <br/>
         <p><form action="{{ path('ticket_register', { 'id': event.id }) }}" method="post">
               <input type="submit" value="Play Event!">


         </form>
        </p>

         {% endif %}

         {% else %}
            <p><br/>You are not logged in. <a href="{{ path('login') }}">Login</a> or <a href="{{ path('user_registration') }}">Register</a></p>
         {% endif %}


  {% endif %}

  <hr class="featurette-divider">

</div><!-- /.col-lg-4 -->
</div><!-- /.row -->

{% endblock %}
