{# templates/place.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Lanzarote Fit > View Event {% endblock %}

{% block body %}

<!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-12">
            <br/>
            <h2>Place Information</h2>

            {% if place is null %}
                <p>No place with this id.</p>
            {% else %}

                <div class="card">
                    <h5 class="card-header">{{ place.name }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Contact Information</h5>
                        <p class="card-text">
                          {% if place.telephone is not empty %}
                              <span>Phone: {{ place.telephone }}.</span><br>
                          {% endif %}
                          {% if place.email is not empty %}
                              <span>E-mail: {{ place.email }}.</span><br>
                          {% endif %}
                          {% if place.facebook is not empty %}
                              <span>Facebook: <a href="{{ place.facebook }}" target="_blank"> Visit </a></span><br>
                          {% endif %}
                          {% if place.whatsapp is not empty %}
                              <span>Whatsapp: <a href="https://api.whatsapp.com/api/send?phone={{place. whatsapp}}" target="_blank"> Open Conversation </a></span><br>
                          {% endif %}
                        </p>
                    </div>
                </div>

                <h2 class="pt-3">Place Location</h2>
                    <div class="card">
                        <h5 class="card-header">Map</h5>
                        <div class="card-body embed-responsive embed-responsive-16by9">
                            <ul class="card-text">
                                {{ place.maplink|raw }}
                            </ul>
                        </div>
                    </div>


                {% endif %}



        </div>
    </div>
{% endblock %}
